
<div class="span8">
  <div class="hero-unit">
    <h1>The Baltimore Free School</h1>

<a href="https://www.wepay.com/donations/help-get-the-new-and-improved-baltimore-free-school-rolling"><i>We need your help to make the Free School sustainable!  Click here to help fund the work of organizing and bringing new educational technology to our classroom!</i></a>
    <p>
      The Baltimore Free School is a grassroots, collectively run and community-funded project, with a classroom inside <a href="http://redemmas.org">Red Emma’s Bookstore Coffeehouse</a> at 30 W. North Ave. Building upon a long tradition of horizontal organizing, collaborative learning and participatory education, we believe that the empowerment of people of all ages and backgrounds to share and learn is vital to the health of any community. To that end, we work toward creating a space where the exchange of ideas can occur without the exchange of money; a space where we can learn to relate to each other in new and meaningful ways. By building this infrastructure, we hope to form a microcosm of the world in which we want to live.
    </p>
    <b><p>After a hiatus in 2013, the BFS is re-opening in a brand new classroom inside Red Emma’s Bookstore Coffeehouse.  We are now accepting proposals for classes starting in January of 2014; <a href="http://freeschool.redemmas.org/courses/new">just click here to get started submitting a proposal.</a> If you want to get involved with organizing the Free School, or have any questions about the project or the course process, please contact us at freeschool@redemmas.org.
</p>
<p>If you’d like to contribute to the long-term sustainability of the project, including new technology for the classroom and funding for dedicated community outreach, <a href="https://www.wepay.com/donations/help-get-the-new-and-improved-baltimore-free-school-rolling">please donate here.</a>
</p>
  </div>
  
  <div class="row-fluid">

    <div class="span3">
      <div class="inner">
	<h3>Take a course</h3> 
	<p>
	  Every course offered through the Baltimore Free
	  School is 100% free of charge to learners.  Sign up online today!
	</p>
	<div class="btn-wrap"><a href="/calendar" class="btn">Browse courses</a></div>
      </div>
    </div>
    <div class="span3">
      <div class="inner">
	<h3>Teach a course</h3>
	<p>Anyone can teach a course or organize a discussion or workshop at the Free School; propose one right now!</p>
	<div class="btn-wrap"><a href="/courses/new" class="btn">Propose a course</a></div>
      </div>
    </div>
    
    <div class="span3">
      <div class="inner">
	<h3>Support the BFS</h3>
	<p>Get involved as a volunteer organizer or make a tax-deductible donation to help us keep the
	  doors open.</p>
	<div class="btn-wrap"><a href="/static/helpthefreeschool" class="btn">Help the Free School</a></div>
    </div>
    </div>
    
    <div class="span3">
      <div class="inner">
	<h3>More info</h3>
      <p>Information on renting the space for private meetings, our consensus-based collective structure, our history and more.</p>
      <div class="btn-wrap"><a href="/static/faq" class="btn">Visit the FAQ</a></div>
      </div>
    </div>
  </div>
</div>

<div class="span4" id="upcoming">
  <div class="inner">
    <h2>Upcoming Courses</h2>
    <%= render 'courses/frontpage' %>
  </div>
</div>

