
<div class="span8">
  <div class="hero-unit">
    <h1>The Baltimore Free School</h1>
    <p>
      The Baltimore Free School is a grassroots, volunteer-run and community-funded project, based at 512-516 W. Franklin St. Building upon a long tradition of horizontal organizing, collaborative learning and participatory education, we believe that the empowerment of people of all ages and backgrounds to share and learn is vital to the health of any community. To that end, we work toward creating a space where the exchange of ideas can occur without the exchange of money; a space where we can learn to relate to each other in new and meaningful ways. By building this infrastructure, we hope to form a microcosm of the world in which we want to live.
    </p>
  </div>
  
  <div class="row-fluid">

    <div class="span3">
      <div class="inner">
	<h3>Take a course</h3> 
	<p>
	  Every course offered through the Baltimore Free
	  School is 100% free of charge to learners.  Sign up online today!
	</p>
	<div class="btn-wrap"><a href="/calendar" class="btn">Browse courses</a></div>
      </div>
    </div>
    <div class="span3">
      <div class="inner">
	<h3>Teach a course</h3>
	<p>Anyone can teach a course or organize a discussion or workshop at the Free School; propose one right now!</p>
	<div class="btn-wrap"><a href="/courses/new" class="btn">Propose a course</a></div>
      </div>
    </div>
    
    <div class="span3">
      <div class="inner">
	<h3>Support the BFS</h3>
	<p>Get involved as a volunteer organizer or make a tax-deductible donation to help us keep the
	  doors open.</p>
	<div class="btn-wrap"><a href="/static/helpthefreeschool" class="btn">Help the Free School</a></div>
    </div>
    </div>
    
    <div class="span3">
      <div class="inner">
	<h3>More info</h3>
      <p>Information on renting the space for private meetings, our consensus-based  collective structure, our history and more.</p>
      <div class="btn-wrap"><a href="/static/faq" class="btn">Visit the FAQ</a></div>
      </div>
    </div>
  </div>
    <div class="row-fluid">  
    <a href="https://givecorps.com/projects/224-baltimore-free-school-baltimore-free-school"><img src="/assets/givecorps.jpg"></a>
    </div>
</div>

<div class="span4" id="upcoming">
  <div class="inner">
    <h2>Upcoming Courses</h2>
    <%= render 'courses/frontpage' %>
  </div>
</div>

