<div class="span8">

  <h1>New course</h1>
<hr >
  <%= render 'form' %>

  <%= link_to 'Back', courses_path %>

</div>

<div class="span4">
  <div class="well">
    <h2>Helpful tips</h2>
  </div>
</div>
