<div class="span8" id="content">
<div class="inner">
  <h1>New course</h1>
<hr >
  <%= render 'form' %>

</div>
</div>

<div class="span4">
  <div class="well">
    <h2>Helpful tips</h2>
    <%= raw get_page_content('course_proposal_tips') %>
  </div>
</div>
