/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/ 

/*
 *= require twitter/bootstrap
 *= require bootstrap-datepicker
*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,400italic,900italic,900,700italic,700);

body {
background-image:url('/assets/freeschool-mural-lq-blur.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family:Lato;
}

.hero-unit {
background-color:rgba(255,255,255,0.9) !important;
}

#content {
background-color:#ffffff;
background-color:rgba(255,255,255,0.9);
border-radius: 6px 6px 6px 6px;

}

#content .inner {
padding:20px;
}



@font-face {
    font-family: 'TSCBFSSlabRegular';
    src: url('/assets/fonts/tsc_bfs_slab-webfont.eot');
    src: url('/assets/fonts/tsc_bfs_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/tsc_bfs_slab-webfont.woff') format('woff'),
         url('/assets/fonts/tsc_bfs_slab-webfont.ttf') format('truetype'),
         url('/assets/fonts/tsc_bfs_slab-webfont.svg#TSCBFSSlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SantaFeLETPlain';
    src: url('/assets/fonts/santafeletplain1.0-webfont.eot');
    src: url('/assets/fonts/santafeletplain1.0-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/santafeletplain1.0-webfont.woff') format('woff'),
         url('/assets/fonts/santafeletplain1.0-webfont.ttf') format('truetype'),
         url('/assets/fonts/santafeletplain1.0-webfont.svg#SantaFeLETPlain') format('svg');
    font-weight: normal;
    font-style: normal;

}
 


h1 {
/*    font-family: 'SantaFeLETPlain';
    font-weight:normal !important; */
    font-size:40px !important; 
    text-transform:uppercase;
    font-family:'Lato','Century Gothic','Code';
    font-weight:700 !important;
    letter-spacing:0px !important;
} 


.hero-unit p {
    margin-top:12px;
    font-family:"Lato",'Century Gothic';
    font-weight:300 !important;
}


h2 {
    font-family:Lato;
    text-transform:uppercase;
    font-weight:normal !important;
}

h3 {
   font-family:Lato;
}

@font-face {
    font-family: 'Code';
    src: url('/assets/fonts/code_bold-webfont.eot');
    src: url('/assets/fonts/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/code_bold-webfont.woff') format('woff'),
         url('/assets/fonts/code_bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/code_bold-webfont.svg#CodeBoldRegular') format('svg');
    font-weight: bold;
    font-style: normal;

}





@font-face {
    font-family: 'Code';
    src: url('/assets/fonts/code_light-webfont.eot');
    src: url('/assets/fonts/code_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/code_light-webfont.woff') format('woff'),
         url('/assets/fonts/code_light-webfont.ttf') format('truetype'),
         url('/assets/fonts/code_light-webfont.svg#CodeLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.btn {
font-family:Lato;
}


#upcoming p {
font-family:Lato;
font-weight:300;
}

.label {
position:relative;
top:-3px;
}

.navbar ul{
font-family:Lato;
font-weight:500;
font-size:18px;
/*margin-top:14px !important;*/
}

#courses li {
margin-bottom:12px;
}



.small_course_sessions ul { 
margin-left:0px;
list-style:none;
font-size:10px;
}
.small_course_sessions li { 
line-height:14px;
}

.small_course_sessions {
font-size:10px;
float:right;
margin-top:5px;
line-height:14px;
}


li.course {
margin-bottom:14px;
}


.alert {
margin-left:20px;
margin-right:20px;

}


.ec-event {
padding-bottom:5px;
font-size:10px;
}

.ec-event {
  color: white;
  padding-right: 1px;
  padding-left: 11px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  white-space:normal !important;
  height: auto !important;
}

.ec-event p {
margin:0px;
}

thead th {
padding-bottom:10px;
}